html{
     


}
.on{
outline: solid;
height: 200px;
width: 1300px;
margin: 10px;
margin-left: auto;
background-color: blueviolet;


}
.off{
    font-size: 30px;
    font-style: initial;
    color: aqua;
    background-color: black;
    
}    


